*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Be Vietnam Pro", serif;
    font-size: clamp(12px, 2vw, 16px);
}
body {
    background-image: url(resources/svg/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
}

/* Layout */
.logo-img {
    width: 6rem;
    height: auto;
}

header {
    width: 42rem;
    margin: 2rem auto;
}

.form-section {
    width: min(90vw, 50.625rem);
    margin: 2rem auto;
    padding: 2rem;

    background-color: #FFFFFF33;
    border-radius: 20px;
}
.form-row {
    display: flex;
    gap: 1rem;
}
.form-element {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    width: 100%;
}
.input{
    height: 4rem;
    border-radius: 15px;
    border: none;
    outline: none;
    padding: 1rem;
}

/* Modules */
img {
    display: block;    
}

/* Typography */
h1 {
    font-size: 4rem;
}
header h2 {
    font-size: 2rem;
    font-weight: 400;
}
h1, header h2 {
    color: #FFFFFF;
    text-align: center;
}
label {
    font-size: 0.875rem;
    color: #FFFFFF;
    font-weight: 200;
}
.input, .input::placeholder, option {
    color: #111729;
    font-family: inherit;
    font-weight: 700;
    font-size: 1rem;
}